<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *, body {
            margin : 0;
        } 
        .hamburger-menu {
            display: none;
        }
        .active {
            display: block;
        }
    </style>
    <link rel="stylesheet" href="../assets/logo/css/nav.css">
    <link rel="stylesheet" href="../assets/logo/css/blog.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <nav class="navbar">
      <ul class="navbar-ul">
        <div class="navbar-left">
          <li>
          <img src="../assets/logo/—Pngtree—cool red wings logo_7129340.png"
          class="navbar-logo" />
        </li>
       <li>
            <a href="/" class="navbar-link active"> Home </a>
          </li>
          <li>
            <a href="/blog" class="navbar-link"> Blog </a>
          </li>
          <li>
            <a href="/testimonial" class="navbar-link"> Testimonial </a>
          </li>
        </div>
        <div class="navbar-right">
          <li>
            <a href="/contact" class="navbar-contact-btn"> Contact </a>
          </li>
          <button id="hamburger-button" onclick="toggleHamburger()">
            <i class="fa-solid fa-bars fa-2x"></i>
          </button>
        </div>
      </ul>
    </nav>
    <div class="hamburger-container hide">
      <a href="index" class="hamburger-nav-link hamburger-active">
        Home
      </a>
      <a href="blog" class="hamburger-nav-link"> Blog </a>
      <a href="testimonial" class="hamburger-nav-link"> Testimonial </a>
      <a href="contact" class="hamburger-nav-link"> Contact </a>
    </div>

    <div class="blog">
      <div class="blog-form">
        <div class="form-container">
          <form action="/add-blog" method="post">
            <h1>Add My Project</h1>
            <div>
              <label for="projectName">Project Name</label>
              <input name="projectName"/>
            </div>
            <div>
              <label for="startDate">Start Date</label>
              <input type="date" name="startDate">
            </div>
            <label for="endDate">End Date</label>
            <input type="date" name="endDate">
            <div>
              <label for="content">Description</label>
              <textarea name="content"></textarea>
            </div>
            <div>
              <label for="technologies">Technologies</label>
        <div class="checkbox-group">
            <label><input type="checkbox" id="technologies" name="technologies" value="Node Js"> Node Js</label>
            <label><input type="checkbox" id="technologies" name="technologies" value="React Js"> React Js</label>
            <label><input type="checkbox" id="technologies" name="technologies" value="Next Js"> Next Js</label>
            <label><input type="checkbox" id="technologies" name="technologies" value="TypeScript"> TypeScript</label>
        </div>
            </div>
            <form action="/add-blog" method="POST" enctype="multipart/form-data">
    <div>
      <label>Upload Image</label>
      <div class="image">
       <label for="image">
        <p>Attach File</p>
        <i class="fa-solid fa-file"></i>
       </label>
       <input type="file" id="image" name="image" />
      </div>
     </div>
  <div class="button-group">
    <button type="submit">Post Blog</button>
  </div>
</form>

      <hr class="line" />
      <div name="contents" class="blog-list">
      </div>
    </div>
    <script src="./assets/logo/js/blog.js"></script>
    <script src="../assets/logo/js/nav.js"></script>
  </body>
</html>

<script src="https://kit.fontawesome.com/a8706e08fa.js" crossorigin="anonymous"></script>