<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
        *, body {
            margin : 0;
        }
    </style>
    <link rel="stylesheet" href="./assets/logo/css/nav.css">
    <link rel="stylesheet" href="./assets/logo/css/index.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <nav>
      <ul
        class="nav-container"
      >
        <li>
          <img src="./assets/logo/—Pngtree—cool red wings logo_7129340.png"
          class="nav-logo" />
        </li>
        <li>
          <a href="/" class="nav-link"
            >Home</a
          >
        </li>
        <li>
          <a href="/blog" class="nav-link"
            >Blog
          </a>
        </li>
        <li>
          <a href="/testimonial" class="nav-link">
            Testimonial
          </a>
        </li>
        <li class="nav-right">
          <a
            href="/contact"
            class="nav-contact-button"
            >Contact Me</a
          >
        </li>
      </ul>
    </nav>
    <section class="container">
      <div class="left">
        <img
          src="https://cdn.idntimes.com/content-images/community/2020/03/outfitkillua-ca2c23180ad5c9ef814bae13d0031f7a_600x400.png"
          alt="Ini foto anime"
          style="
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 20px;
          "
        />
        <h1>Mahdi Hidayah</h1>
        <p>
          Saya sedang mlaksanakan Bootcamp di Dumbways.id sebagai Fullstack Developer
        </p>
        <table border="1" style="width: 100%">
          <tr>
            <th>School Graduate</th>
            <th>Year</th>
          </tr>
          <tr>
            <td>SMP Mizan Depok</td>
            <td>2013</td>
          </tr>
          <tr>
            <td>MA YPPD Depok</td>
            <td>2016</td>
          </tr>
        </table>
      </div>

      <div class="right">
        <h2>Hi Wellcome to My hut</h2>
        Saya sedang melaksanakan Bootcamp di Dumbways.id sebagai Fullstuck Developer.
        Saya juga mempunyai sampingan sebagai pelatih paskibra di beberapa sekolah
        yang ada di Kota Depok Provinsi Jawa Barat.

        <div class="container-contact">
          <li class="contact-btn">
            <a class="btn-cv"
              href=""
              >Contact<i class="fa-solid fa-phone"></i></a>
          <li class="contact-btn">
            <a class="btn-cv"
              href=""
              >Download CV<i class="fa-solid fa-download"></i></a
            >
        </div>

        <div class="social-media">
          <h2>Found Me on</h2>
          <a href="https://www.facebook.com/mahdi.hidayah.0/?locale=id_ID"><i class="fa-brands fa-facebook"></i></a>
          <a href=""></a>
          <a href="https://www.instagram.com/kameje_/"><i class="fa-brands fa-instagram"></i></a>
        </div>
      </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script>
      // compile the template
      var template = Handlebars.compile("Handlebars <b>{{doesWhat}}</b> | <b>{{name}}</b>" );
      // execute the compiled template and print the output to the console
      console.log(template({ doesWhat: "rocks!", name: "Mahdi" }));
    </script>
  </body>
</html>
