<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testimonial</title>
    <style>
        *, body {
            margin: 0;
        }
    </style>
    <link rel="stylesheet" href="./assets/logo/css/nav.css">
    <link rel="stylesheet" href="./assets/logo/css/testimonial.css">
</head>
<body>
    <nav>
        <ul
          class="nav-container"
        >
          <li>
            <img src="./assets/logo/—Pngtree—cool red wings logo_7129340.png"
            class="nav-logo" />
          </li>
          <li>
            <a href="/" class="nav-link"
              >Home</a
            >
          </li>
          <li>
            <a href="/blog" class="nav-link"
              >Blog
            </a>
          </li>
          <li><a href="/testimonial" class="nav-link"> Testimonial</a></li>
          <li class="nav-right">
            <a
              href="/contact"
              class="nav-contact-button"
              >Contact Me</a
            >
          </li>
        </ul>
      </nav>
      <div class="container">
        <h1>My Testimonials</h1>
        <div class="rating-countainer">
            <h2>Rating By Star</h2>
            <div class="rating">
                <button onclick="allTestimonials()" class="btn-rating">all</button>
                <button onclick="filterTestimonials(1)" class="btn-rating">1</button>
                <button onclick="filterTestimonials(2)" class="btn-rating">2</button>
                <button onclick="filterTestimonials(3)" class="btn-rating">3</button>
                <button onclick="filterTestimonials(4)" class="btn-rating">4</button>
                <button onclick="filterTestimonials(5)" class="btn-rating">5</button>
            </div>
        </div>
        <section class="testimonials" id="testimonials">
           
        </section>
        <script src="./assets/logo/js/ajax.js"></script>
      </div>
</body>
</html>