<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testimonial</title>
    <style>
        *, body {
            margin : 0;
        } 
        .hamburger-menu {
            display: none;
        }
        .active {
            display: block;
        }
    </style>
    <link rel="stylesheet" href="../assets/logo/css/nav.css">
    <link rel="stylesheet" href="../assets/logo/css/testimonial.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <nav class="navbar">
      <ul class="navbar-ul">
        <div class="navbar-left">
          <li>
          <img src="../assets/logo/—Pngtree—cool red wings logo_7129340.png"
          class="navbar-logo" />
        </li>
       <li>
            <a href="/" class="navbar-link active"> Home </a>
          </li>
          <li>
            <a href="/blog" class="navbar-link"> Blog </a>
          </li>
          <li>
            <a href="/testimonial" class="navbar-link"> Testimonial </a>
          </li>
        </div>
        <div class="navbar-right">
          <li>
            <a href="/contact" class="navbar-contact-btn"> Contact </a>
          </li>
          <button id="hamburger-button" onclick="toggleHamburger()">
            <i class="fa-solid fa-bars fa-2x"></i>
          </button>
        </div>
      </ul>
    </nav>
    <div class="hamburger-container hide">
      <a href="index" class="hamburger-nav-link hamburger-active">
        Home
      </a>
      <a href="blog" class="hamburger-nav-link"> Blog </a>
      <a href="testimonial" class="hamburger-nav-link"> Testimonial </a>
      <a href="contact" class="hamburger-nav-link"> Contact </a>
    </div>

      <div class="container">
        <h1>My Testimonials</h1>
        <div class="rating-countainer">
            <h2>Rating By Star</h2>
            <div class="rating">
                <button onclick="allTestimonials()" class="btn-rating">all</button>
                <button onclick="filterTestimonials(1)" class="btn-rating">1</button>
                <button onclick="filterTestimonials(2)" class="btn-rating">2</button>
                <button onclick="filterTestimonials(3)" class="btn-rating">3</button>
                <button onclick="filterTestimonials(4)" class="btn-rating">4</button>
                <button onclick="filterTestimonials(5)" class="btn-rating">5</button>
            </div>
        </div>
        <section class="testimonials" id="testimonials">
           
        </section>
        <script src="./assets/logo/js/ajax.js"></script>
        <script src="../assets/logo/js/nav.js"></script>
      </div>
</body>
</html>